@model Category
@* By default Id is being passed, but if it's not being passed, we can pass it like the commented 
snippet in the form whose display is hidden and usually automatically populated by the dotnet
The odd behaviour would be if you edit a record, a new record is created because id id passed
null and a new record is created aginst the id 0. *@
<form method="post">
    @* <input asp-for="Id" hidden /> *@
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">
                Update Category
            </h2>
        </div>
        <div class="mb-3">
            <label>Category Name</label>
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="mb-3">
            <label>Display Order</label>
            <input asp-for="DisplayOrder" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary" style="width: 150px">Update</button>
        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary" style="width:150px">
            Back to List
        </a>
    </div>
</form>