@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://youtu.be/AopeJjkcRvU?si=gJ-3pOBP4R2ahL6Q">building Web apps with ASP.NET Core</a>.</p>
</div>
